
<% if @u.present? %>
  <h1>We have a match!!</h1> You've made a match for brew ID#: <%= @u.rand_num %>
    <ul>
      <li>Batch ID#: <%= @u.batch_id %></li>
      <li>Brewer's name: <%= @u.batch.recipe.user.username %></li>
      <li>Name of the Brew: <%= @u.batch.recipe.name %></li>
      <li>Brew Date: <%= @u.batch.brew_date %></li>
      <li>Bottle Date: <%= @u.batch.bottle_date %></li>
      <li>Original Gravity: <%= @u.batch.aog %></li>
      <li>Final Gravity: <%= @u.batch.afg %></li>
      <li>ABV: <%= @u.batch.aabv %>%</li>
      <li>Aroma: <%= @u.batch.aaroma %></li>
      <li>IBUs: <%= @u.batch.aibu %></li>
      <li>Flavor Profile: <%= @u.batch.aflavpro %></li>
      <li>Image: <%= image_tag @u.batch.image %></li>
    </ul>

<div class="row">
  <div class="col-lg-6">
    <h1 align="right">Review this brew! <%= link_to icon('plus'), new_review_path( :batch_id => @u.batch_id ), class: "btn btn-lg btn-success" %></h1>
  </div>
  <div class="col-lg-6">

  </div>
</div>


  <%#= form_tag("/batches/#{params[:id]}/post_new_review", method:"post") do %>
  <!-- <%#= form_tag("/reviews/#{params[:id]}/post_new_review", method:"post") do %> -->
<br>


        <!-- <input align="right" type="submit" value="Submit Review"> -->
      <!-- </div> -->
  <% #end %>

<% else %>
  <h1>Awwwwww!<span aria-hidden="true" class="fa fa-frown-o"></span></h1>
<%= params[:new_number] %> doesn't match any of the brews in our database. Please click on Rate a Brew in the menu above and try again!
<% end %>




