<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Unique #<%= @unique.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Rand num</dt>
              <dd><%= @unique.rand_num %></dd>

              <dt>Batch</dt>
              <dd><%= @unique.batch_id %></dd>

              <dt>User ID</dt>
              <dd><%#= @unique.user_id %></dd>

              <dt>Image</dt>
              <dd><%= image_tag @unique.batch.image, :height => '25%', :width => '25%'  %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <%= link_to icon('chevron-left'), uniques_path, class: "btn btn-primary" %>

              <%= link_to icon('edit'), edit_unique_path(@unique), class: "btn btn-warning" %>

              <%= link_to icon('trash-o'), @unique, method: :delete, data: { confirm: "Do you really want to delete this unique?" }, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
