<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6" align="center">

      <body>

      <h2>Hi, <%= current_user.username %>!</h2>

        <div class="row">
          <p align="left"><% if current_user.recipes.count < 3 %><font color="red"> MESSAGES:</font>
          "Hey! You've only created <%= current_user.recipes.count %> recipe(s) so far? You need to add more recipes. Let's get brewing!" </p>
          <% end %>
            <div class="list-group" align="left">
              <a href="#" class="list-group-item active">
              YOUR STATS
              </a>
              <% if current_user.recipes.count > 0 %>
                <a href="#" class="list-group-item">Number of recipes you've uploaded: <span class="badge"><%= current_user.recipes.count %></span></a>
                <a href="#" class="list-group-item">Number of batches you've created: <span class="badge"><%= current_user.batches.count %></span></a>

                <a href="#" class="list-group-item">Number of reviews from your batches: <span class="badge">2<%#= current_user.reviews.count %></span></a>
                <a href="#" class="list-group-item">The beer style in most of your recipes: <span class="badge">Belgian Ale</span></a>
                <a href="#" class="list-group-item">The beer style you've most frequently reviewed : <span class="badge">American Stout</span></a>
              <% elsif current_user.recipes.count < 1 %>
                <a href="#" class="list-group-item">The beer style you've most frequently reviewed : <span class="badge">American Stout</span></a>
              <% end %>
            </div>
                  <div class="col-md-12">
                    <h4 align="center">Have a brew to review?</h4>
                      <form action="uniques/new" method="get">
                        Enter a brew number: <input type="text" name="unique_num">
                        <input type="submit" value="Submit"><br>
                      </form>
                    </div>
        </div>
      </body>
    </div>

  <div class="col-sm-6 col-md-6 col-lg-6">
  <h2>Edit Your Account<%#= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
      <%= f.input :password_confirmation, required: false %>
      <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
    </div>
  </div>
</div>
