<%= simple_form_for(@recipe) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :brew_type, collection: [ "Extract", "Extract + Special Grains", "Partial/Mini-Mash", "All-Grain...You Rock!"] %>
    <%= f.input :description %>
    <%= f.input :tog %>
    <%= f.input :tfg %>
    <%= f.input :tabv %>
    <%= f.input :taroma %>
    <%= f.input :tibu %>
    <%= f.input :label %>
    <%= f.input :tflavpro %>
    <%#= f.association :user %>
    <%= f.association :style %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
