<div class="page-header">
  <h1>
    Your Recipes
    <h5>You've added <font coler="red"><%= current_user.recipes.count %> recipes (some may be hidden)</font>. Are you ready to add some more?</h5>
  </div>
<!-- Responsive, Isotope-based layout example -->

<!-- Code for index of recipe cards... -->

<div class="container">
<!-- Code to render the form to create a new recipe from the index page. -->
    <div class="col-md-4 col-lg-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Add a New Recipe</h3><small>Add the recipe's target attributes below.</small>
        </div>
        <div class="panel-body">
          <div class="col-xs-12">
            <div class="panel-body">
              <%= render 'form', recipe: @recipe %>
            </div>
          </div>
        </div>
      </div>
    </div>

<% if current_user.recipes.count == 0 %>

          <div class="col-md-6 col-lg-8">
                <%= image_tag "tbe.jpg", :height => '100%', :width => '100%' %>
                  <h4 align="center">BREW. SHARE. ENJOY!</h4>
          </div>

<% else %>

<% @recipes.each do |recipe| %>
<% if recipe.is_active == false %>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-8">
  <h3 align="center">Recipe ID# <%= recipe.id %> has been removed!</h3>
</div>
<% else %>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-8 isotope-item">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><b><%= recipe.name %></b></h3>
            </div>
            <div class="panel-body">
              <dl>

                <dt><strong>Beer Style:</strong> <%= recipe.style.name %></dt>

                <dt>Brew type: <%= recipe.brew_type %></dt>

                <dt>Label: <%= recipe.label %></dt>

                <dt>Recipe ID#: <%= recipe.id %></dt>

                <dt>Published: <%= recipe.is_active %></dt>


                <!-- <dt>Description</dt> -->
                <dd><%#= recipe.description %></dd>

               <!--  <dt>Tog</dt> -->
                <dd><%#= recipe.tog %></dd>

                <!-- <dt>Tfg</dt> -->
                <dd><%#= recipe.tfg %></dd>

                <!-- <dt>Tabv</dt> -->
                <dd><%#= recipe.tabv %></dd>

                <!-- <dt>Taroma</dt> -->
                <dd><%#= recipe.taroma %></dd>

                <!-- <dt>Tibu</dt> -->
                <dd><%#= recipe.tibu %></dd>

                <!-- <dt>Tflavpro</dt> -->
                <dd><%#= recipe.tflavpro %></dd>

                <!-- <dt>User</dt> -->
                <dd><%#= recipe.user.email %></dd>

              </dl>


              <div class="btn-group btn-group-justified">
                <%= link_to icon('search-plus'), recipe, class: "btn btn-primary" %>

                <%#= link_to icon('edit'), edit_recipe_url(recipe), class: "btn btn-warning" %>

                <%#= link_to icon('trash-o'), recipe, method: :delete, data: { confirm: "Do you really want to delete this recipe?" }, class: "btn btn-danger" %>
              </div>

            </div> <!-- end panel body -->
          </div> <!-- end panel primary -->
        </div> <!-- end col isotope item -->

<% end %>
<% end %>
<% end %>

</div> <!-- end div page container -->




<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container');

    $container.imagesLoaded(function() {
      $container.isotope({
        itemSelector: '.isotope-item',
        layoutMode: 'masonry',
        filter: function() {
          return qsRegex ? $(this).text().match( qsRegex ) : true;
        }
      })
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

<!-- End responsive, Isotope-based layout example -->


