<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Recipe #<%= @recipe.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Name</dt>
              <dd><%= @recipe.name %></dd>

              <dt>Brew type</dt>
              <dd><%= @recipe.brew_type %></dd>

              <dt>Description</dt>
              <dd><%= @recipe.description %></dd>

              <dt>Tog</dt>
              <dd><%= @recipe.tog %></dd>

              <dt>Tfg</dt>
              <dd><%= @recipe.tfg %></dd>

              <dt>Tabv</dt>
              <dd><%= @recipe.tabv %></dd>

              <dt>Taroma</dt>
              <dd><%= @recipe.taroma %></dd>

              <dt>Tibu</dt>
              <dd><%= @recipe.tibu %></dd>

              <dt>Label</dt>
              <dd><%= @recipe.label %></dd>

              <dt>Tflavpro</dt>
              <dd><%= @recipe.tflavpro %></dd>

              <dt>User</dt>
              <dd><%= @recipe.user %></dd>

              <dt>Style</dt>
              <dd><%= @recipe.style %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <%= link_to icon('chevron-left'), recipes_path, class: "btn btn-primary" %>

              <%= link_to icon('edit'), edit_recipe_path(@recipe), class: "btn btn-warning" %>

              <%= link_to icon('trash-o'), @recipe, method: :delete, data: { confirm: "Do you really want to delete this recipe?" }, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
        <hr>
            <div align="right">
              Create a new batch: <%= link_to icon('plus'), new_batch_path, class: "btn btn-lg btn-success" %>
            </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
