<%= simple_form_for(@uni) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :rand_num %>
    <%= f.association :batch %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
