<body>
<div class="container">
  <div class="row" align="center">
   <h1 align="center"><font face="verdana" color="darkblue">Welcome to The Brewer's Edge</font></h1> <h2><font face="verdana" color="darkblue"><i>Home Brewers: Raise Your Game!</i></font></h2>
  </div>
<hr>
  <div class="row">
    <div class="col-md-6 col-lg-9">
        <h3><i><font face="verdana" color="darkblue">"What is The Brewer's Edge?"</font><i></h3>
        <p>The concept is simple: Let's create an social network where home beer brewers can have their beers judged objectively by their fans, without the pressure of a formal brewing competition. Craft beer enthusiasts can share reviews, ideas, recipes and revel in all that is the bubbly libation!  All the while, brewers can use the info to become better at their craft.</p>

        <div class="row">
          <div class="col-md-6 col-lg-3" align="bottom">
            <%= image_tag "obb-logo150x90.png", :height => '90%', :width => '90%' %>
          </div>
          <div class="col-md-6 col-lg-9">
            <h3><i><font face="verdana" color="darkblue">"Sweet! But how do I sign up?"</font></i></h3>
            <p>Check out the form to the right (or below for mobile users). Sign up is incredibly simple. All users sign up with a valid email, username and password. </p>
          </div>
        </div>

        <h3><i><font face="verdana" color="darkblue">"Okay, I'm in. Now what?"</font></i></h3>
        <p>Here's the fun part! Home Brewers, are you ready to raise your game? Load your recipes through your profile page. After you've created a real batch of beer, create a virtual batch on the site by providing info about how the batch came out. You'll receive unique numbers that you can apply to every bottle, taster, bomber or draft you give out to friends and enemies. Write that number on the label, bottlecap or even a napkin. Your fans will use the same number to come back to the site to review your beer. When you collect feedback from reviews, use it to become a better brewer.</p>
      </div>


    <div class="col-sm-6 col-md-6 col-lg-3">
    <h2>Log in</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, required: false, autofocus: true %>
          <%= f.input :password, required: false %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Log in" %>
        </div>
        <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
<hr>

<div class="row">

    <div class="col-xs-12 col-md-3 col-lg-4">

      <div class="list-group">
        <a href="#" class="list-group-item active">
        What's Brewing Now?<span class="badge">184</span>
        </a>
        <a href="#" class="list-group-item">Stouts <span class="badge">47</span></a>
        <a href="#" class="list-group-item">Barley Wines <span class="badge">18</span></a>
        <a href="#" class="list-group-item">India Pale Ales <span class="badge">95</span></a>
        <a href="#" class="list-group-item">Summer Wheat Beers <span class="badge">4</span></a>
        <a href="#" class="list-group-item">Most reviewed style: <span class="badge">India Pale Ale</span></a>
        <a href="#" class="list-group-item">Highest rated style (average):<span class="badge">4/5</span></a>

      </div>
    </div>

      <div align="center" class="col-md-4">
        <h4 align="center">Have a brew to review?</h4>
        <form action="uniques/new" method="get">
          Enter a brew number: <input type="text" name="unique_num">
          <input type="submit" value="Submit"><br>
        </form>

      </div>

      <div align="center" class="col-md-6 col-lg-4">
        <h4 align="center">King Hop</h4>
                <%= image_tag "tbe.jpg", :height => '57%', :width => '57%' %>
        <h4 align="center">BREW. SHARE. ENJOY!</h4>
      </div>

</div>
<hr>

<div class="row">
    <div align="center" class="col-md-6 col-lg-6">

    </div>


<!--     <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
           <img src="http://www.thenibble.com/reviews/main/beer/images/6.jpg" alt="Tall Glass">
        </a>
    </div>

    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
           <img src="http://www.thenibble.com/reviews/main/beer/images/6.jpg" alt="Tall Glass">
        </a>
    </div> -->

<!--     <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
           <img src="http://www.thenibble.com/reviews/main/beer/images/6.jpg" alt="Tall Glass">
        </a>
    </div> -->

  </div> <!-- End Row Div -- >

</div>
</body>
