<%= simple_form_for(@batch) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :size %>
    <%= f.input :brew_date, as: :date %>
    <%= f.input :bottle_date, as: :date %>
    <%= f.input :aog %>
    <%= f.input :afg %>
    <%= f.input :aabv %>
    <%= f.input :aaroma %>
    <%= f.input :aibu %>
    <%= f.input :image %>
    <%= f.input :aflavpro %>
    <%= f.association :user %>
    <%= f.association :recipe %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
