<%= simple_form_for(@batch) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :size, hint: 'The finished volume of beer in gallons', collection: ["1 gallon", "2 gallons", "3 gallons", "4 gallons", "5 gallons", "6 gallons", "7 gallons", "8 gallons", "9 gallons", "10 gallons"] %>
    <%= f.input :brew_date %>
    <%= f.input :bottle_date %>
    <%= f.input :aog, label: 'Original Gravity', hint: 'Include the pre-fermentation gravity of the beer.'  %>
    <%= f.input :afg, label: 'Final Gravity', hint: 'Include the post-fermentation gravity of the beer.'  %>
    <%= f.input :aabv, label: 'ABV', hint: 'Calculate the ABV and include here.'  %>
    <%= f.input :aaroma, label: 'Aroma', hint: 'Describe the aroma of the finished beer.'  %>
    <%= f.input :aibu, label: 'IBUs', hint: 'Calculate and include the amount of International Bitterness Units from the hops.'  %>
    <%= f.input :image %>
    <%= f.input :aflavpro, label: 'Flavor Profile', hint: 'Describe the fan experience with this beer. What should the drinker expect?'  %>
    <%#= f.association :user %>
    <%#= f.association :recipe %>
    <%= f.hidden_field :recipe_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
