<div class="page-header">
  <h1>
    Your Batches
    <% if current_user.email == "p1@example.com" %>
    <%= link_to icon('plus'), new_batch_path, class: "btn btn-lg btn-success" %>
    <% end %>
  </h1>
  <h5>Brewers - Access and edit your batch information here.  Use the controls to access detail, edit the batch profile and create unique id numbers for the batch.</h5>
</div>

<!-- <div class="row">
  <div class="col-xs-8">
    <input type="text" id="quicksearch" placeholder="Search Batches (start typing)" class="form-control">
  </div>
</div> -->

<div class="panel panel-default">
  <div class="panel-heading">Your Batches</div>

    <table class="table" align="left">
      <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Image</th>
            <th>Brewed</th>
            <th>Bottled</th>
            <th>O.G.</th>
            <th>F.G.</th>
            <th>A.B.V.</th>
            <th>Controls</th>
          </tr>
      </thead>
      <tbody>
        <% @batches.each do |batch| %>
          <tr>
            <td><%= batch.id %></td>
            <td><%= batch.recipe.name %></td>
            <td><%= image_tag batch.image, :height => '50px', :width => '50px' %></td>
            <td><%= batch.brew_date %></td>
            <td><%= batch.bottle_date %></td>
            <td><%= batch.aog %></td>
            <td><%= batch.afg %></td>
            <td><%= batch.aabv %></td>
            <td>
              <%= link_to icon('search-plus'), batch, class: "btn btn-primary" %>

              <%= link_to icon('edit'), edit_batch_url(batch), class: "btn btn-warning" %>

              <%= link_to icon('trash-o'), batch, method: :delete, data: { confirm: "Do you really want to delete this batch?" }, class: "btn btn-danger" %>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container');

    $container.imagesLoaded(function() {
      $container.isotope({
        itemSelector: '.isotope-item',
        layoutMode: 'masonry',
        filter: function() {
          return qsRegex ? $(this).text().match( qsRegex ) : true;
        }
      })
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

<!-- End responsive, Isotope-based layout example -->
