<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Batch ID#<%= @batch.id %> | Actual Batch Values</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Size</dt>
              <dd><%= @batch.size %></dd>

              <dt>Brew date</dt>
              <dd><%= @batch.brew_date %></dd>

              <dt>Bottle date</dt>
              <dd><%= @batch.bottle_date %></dd>

              <dt>Original Gravity</dt>
              <dd><%= @batch.aog %></dd>

              <dt>Final Gravity</dt>
              <dd><%= @batch.afg %></dd>

              <dt>Alchohol by Volume(ABV)</dt>
              <dd><%= @batch.aabv %></dd>

              <dt>Aroma</dt>
              <dd><%= @batch.aaroma %></dd>

              <dt>IBUs</dt>
              <dd><%= @batch.aibu %></dd>

              <dt>Image</dt>
              <dd><%= image_tag @batch.image, :class => "img-responsive" %></dd>

              <dt>Flavor Profile</dt>
              <dd><%= @batch.aflavpro %></dd>

              <dt>User</dt>
              <dd><%= @batch.user.email %></dd>

              <dt>Recipe</dt>
              <dd><%= @batch.recipe.name %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <%= link_to icon('chevron-left'), batches_path, class: "btn btn-primary" %>

              <%= link_to icon('edit'), edit_batch_path(@batch), class: "btn btn-warning" %>

              <%= link_to icon('trash-o'), @batch, method: :delete, data: { confirm: "Do you really want to delete this batch?" }, class: "btn btn-danger" %>
            </div>
                <%= form_tag("/batches/#{params[:id]}/generate_uniques", method:"post") do %>
                <%#= form_tag("/uniques/#{params[:id]}/generate_uniques", method:"post") do %>

                    <br></br>
                    <div align="right">
                      <label for="new uniques numbers" >Input Number of Unique IDs: </label>
                      <input name="unique_num" type="text" id="first">
                      <input align="right" type="submit" value="Generate IDs">
                    </div>
                <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
