<!-- Responsive panel example-->
<div class="page-header">
  <div class="row" >
    <div class="col-sm-offset-0 col-sm-10 col-md-offset-0 col-md-8 col-lg-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Batch ID#<%= @batch.id %> | Actual Batch Values for <%= @batch.recipe.name %></h3>
          <p>Style Inspiration: <%= @batch.recipe.style.name %></p>
        </div> <!-- end panel heading -->

      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <dl class="dl-horizontal">
              <dt>Size:</dt>
              <dd><%= @batch.size %></dd>

              <dt>Brew date:</dt>
              <dd><%= @batch.brew_date %></dd>

              <dt>Bottle date:</dt>
              <dd><%= @batch.bottle_date %></dd>

              <dt>Original Gravity:</dt>
              <dd><%= @batch.aog %></dd>

              <dt>Final Gravity:</dt>
              <dd><%= @batch.afg %></dd>

              <dt>ABV:</dt>
              <dd><%= @batch.aabv %>%</dd>

              <dt>Aroma:</dt>
              <dd><%= @batch.aaroma %></dd>

              <dt>IBUs:</dt>
              <dd><%= @batch.aibu %></dd>

              <!-- <dt>Image</dt> -->
              <dd><%= image_tag @batch.image, :class => "img-responsive" %></dd>

              <dt>Flavor Profile:</dt>
              <dd><%= @batch.aflavpro %></dd>

           <!--    <dt>User</dt> -->
              <dd><%#= @batch.user.email %></dd>

             <!--  <dt>Recipe</dt> -->
              <dd><%#= @batch.recipe.name %></dd>

            </dl>
        <div class="btn-group btn-group-justified">
              <%= link_to icon('chevron-left'), batches_path, class: "btn btn-primary" %>

              <%= link_to icon('edit'), edit_batch_path(@batch), class: "btn btn-warning" %>

              <% if current_user.email == "p1@example.com" %>
              <%= link_to icon('trash-o'), @batch, method: :delete, data: { confirm: "Do you really want to delete this batch?" }, class: "btn btn-danger" %>
              <% end %>
        </div>
<hr>

<!-- CODE TO GENERATE UNIQUE IDs DIV -->
<div class="col-lg-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Generate Unique IDs</h3>
    </div>

    <div class="panel-body">
      <ul class="list-group">
        <h6>Each batch can have a max of 24 unique IDs generated</h6>
        <h6>Clicking the "Generate IDs" button below will generate 6 IDs at a time until you've reached the max amount</h6>
        <hr>
        <h6 align="center">You've generated</h6><h3 align="center"><font color="red"><%= @batch.unis.count %></font></h3><h6>IDs so far for this batch. You've got <%= 24.to_i - @batch.unis.count %> left.</h6>
      </ul>

        <dd align="center"><h4><font color="red"><%#= @batch.unis.count %></font></h4></dd>


    <% if @batch.unis.count >= '24'.to_i %>
      <h5 align="center"><font color="red">You've maxed out the numbers of IDs you can create for this batch.</font></h5>
    <% else %>
      <%= form_tag("/batches/#{params[:id]}/generate_unis", method:"post") do %>
        <div align="center">
          <label for="new uni numbers" >Click to generate more IDs: </label>
                <!-- <input name="uni_num" type="text" id="first"> -->
                <input align="right" type="submit" value="Generate IDs">
        </div>
        <% end %>
    <% end %>

    </div> <!-- end div panel body -->
  </div> <!-- end div panel panel-primary -->
</div> <!-- end div col-6 for generating unique IDs -->
<!-- END CODE TO GENERATE UNIQUE IDs DIV -->

  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">IDs generated for batch id# <%= @batch.id %></h3>
        <h6>Provide one number with each bottle, taster, or pour you give to a fan. They'll use this to rate this batch.</h6>
      </div>
      <div class="panel-body">
        <% @batch.unis.each do |uni| %>
          <font size="2"><a href="#" class="list-group-item"><%= uni.rand_num %></a></font>
        <% end %>
      </div>
    </div>
  </div>

            </div>
          </ul>
        </div>
      </div>
    </div> <!-- end div panel -->
</div> <!-- end div col -->

  <div class="col-sm-12 col-md-12 col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @batch.reviews.count %> Review(s)</h3>
      </div>
        <h5 align="center">Here's what your fans are saying:</h5>
      <div class="panel-body">
        <ul class="list-group">
              <% @batch.reviews.each do |review| %>
                <font size="2"><li class="list-group-item">"<%= link_to review.headline, review %>..." <%= review.user.username   %> rates this batch a <%= review.overall_rating %> out of 5.</li></font>
              <% end %>
            </ul>
      </div> <!-- end panel body -->
    </div> <!-- end review panel primary -->
  </div> <!-- end div col for review section -->





<!-- End responsive panel example -->
