<%= simple_form_for(@review) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :headline %>
    <%= f.input :content %>
    <%= f.input :overall_rating, collection: 1..5 %>
    <%= f.association :user %>
    <%= f.association :batch %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
