<%= simple_form_for(@review) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :headline, hint: "Create a headline that will catch the brewer's eye." %>
    <%= f.input :content, hint: "Briefly describe your brew experience. What did you like or dislike about the beer?" %>
    <%= f.input :overall_rating, collection: 1..5, hint: "Hint: '5' is an outstanding brew experience, '1' is not so great." %>
    <%#= f.association :user %>
    <%#= f.association :batch %>
    <%= f.hidden_field :batch_id %>
    <!-- Batch ID#: <%= @review.batch_id %> -->
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
