<div class="page-header">
  <h1>
    Your Reviews
    <% if current_user.email == "p1@example.com" %>
    <%= link_to icon('plus'), new_review_path, class: "btn btn-lg btn-success" %>
    <% end %>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search Reviews (start typing)" class="form-control">
  </div>
</div>

<hr>

<hr>
<div class="panel panel-default">
  <div class="panel-heading">REVIEWS CREATED</div>

    <table class="table" align="left">
      <thead>
          <tr>
              <th>ID#</th>
              <th>Headline</th>
              <th>Content</th>
              <th>Overall Rating</th>
            <% if current_user.email == "p1@example.com" %>
              <th>User ID</th>
              <th>Controls</th>
              <% end %>
          </tr>
      </thead>
      <tbody>
      <% @reviews.each do |review| %>

          <tr>
            <td><%= review.id %></td>
            <td><%= review.headline %></td>
            <td><%= review.content %></td>
            <td><%= review.overall_rating %></td>

          <% if current_user.email == "p1@example.com" %>
            <td><%= review.user_id %></td>
            <td>

          <%= link_to icon('search-plus'), review, class: "btn btn-primary" %>

          <%= link_to icon('edit'), edit_review_url(review), class: "btn btn-warning" %>

          <%= link_to icon('trash-o'), review, method: :delete, data: { confirm: "Do you really want to delete this review?" }, class: "btn btn-danger" %>

          <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
</div>

<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container');

    $container.imagesLoaded(function() {
      $container.isotope({
        itemSelector: '.isotope-item',
        layoutMode: 'masonry',
        filter: function() {
          return qsRegex ? $(this).text().match( qsRegex ) : true;
        }
      })
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

<!-- End responsive, Isotope-based layout example -->
