<!-- Responsive panel example-->
<div class="page-header">

<%# if @r.present? %>
  <!-- <h1>You are not authorized to leave a review with this number!</h1> -->
    <!-- format.html { redirect_to @review, notice: 'You are not authorized to create a review with this number.' } -->
<%# else %>


  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Review by <%= @review.user.username %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <dl class="dl-horizontal">
                <dt>Headline:</dt>
                <dd><%= @review.headline %></dd>

                <dt>Detail:</dt>
                <dd><%= @review.content %></dd>

                <br>
                <!-- <dt>Overall rating</dt> -->
                <dd align="center"><h4> User <%= @review.user.username %> rates batch # <%= @review.batch_id %> of <%= @review.batch.recipe.name %> a </h4></dd><h1 align="center"><%= @review.overall_rating %> out of 5</h1>

              </dl>
              <div class="btn-group btn-group-justified">
                <%= link_to icon('chevron-left'), :root, class: "btn btn-primary" %>

                <%#= link_to icon('edit'), edit_review_path(@review), class: "btn btn-warning" %>

                <%#= link_to icon('trash-o'), @review, method: :delete, data: { confirm: "Do you really want to delete this review?" }, class: "btn btn-danger" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<%# end %>


</div>
<!-- End responsive panel example -->
<!-- From review/show: -->
<!-- 1. The user/fan will input a unique number
     2. The beer's profile info should come up, on the review/show page. It will have some detail about the beer
        which will come from the beer's batch profile. This will be the "actual" information, gathered by the brewer
        after the batch has been made...Not the target information that comes from the recipe.
     3. On save, a NEW ROW is created in the REVIEW table -->

<!-- The number coming in from the user is a unique_id. When that unique number comes in through stored in the params hash, we're going to ask the UNIQUE table if it has a row (unique.id) that matches this unique_id? If you do, please return the batch_id. Once we have that row, we can go over to the batch table and return all of the relevant batch information (Actual batch data), and show that on the review/show page. -->
<!-- The user/fan will rate the beer, leave a review and on submit a new row will be created in the REVIEW table. -->
