<!DOCTYPE html>
<html>
  <head>
    <title>Youbrew</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body { padding-top: 70px; }>
  <div class="page-header">
  <nav class="navbar navbar-default navbar-fixed-top">
  <!-- <a class="navbar-brand" href="#"><img alt="TBE" <%#= image_tag "TBE_Logo_transExported_35x34.png", :height => '100%', :width => '100%' %></a> -->

  <div class="container-fluid" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_url %></li>
        <li><%= link_to "Popular Beer Styles", styles_path %></li>
        <li><%= link_to "Recipes", recipes_path %></li>
        <li><%= link_to "Batches", batches_path %></li>
        <li><%= link_to "Reviews", reviews_path %></li>
        <li><%#= link_to "MyUnique Numbers", uniques_path %></li>
        <li><%#= link_to "MyBrew IDs", unis_path %></li>
        <li><%#= link_to "Mirrors", mirrors_path %></li>
        <li><%= link_to "Rate-a-Brew", "/mirrors/input" %></li>
        <li><%= link_to "FAQs", "/static/faq" %></li>
        <li><%= link_to "About", "/static/about" %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user.present? %>
          <li><%= link_to current_user.username, edit_user_registration_path %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, :method => "delete" %></li>
        <% else  %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      </ul>

      <div class="form-group">
        <form class="navbar-form navbar-left" action="/match_brew">
          <div align="left">
            <font color="white"><label for="new number" ></label></font>
            <input name="new_number" type="text" id="first">
            <input align="right" type="submit" value="Find your brew">
          </div>
        </form>
      </div>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">

 <script src="js/bootstrap.min.js"></script>

  <% if alert.present? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= alert %>
    </div>
    <% end %>

  <% if notice.present? %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %>
    </div>
  <% end %>

<%= yield %>
</div> <!-- end .container -->
</div> <!-- end page header -->

</body>
</html>
